<template>
    <div>
        <div class="mt-5 mb-5">
            <h1 class="grey--text text--lighten-4 mb-0">Websockets</h1>
            <h2 class="grey--text text--lighten-4">in a simple, fast, and scalable way</h2>
            <h3 class="grey--text text--lighten-3 mt-5 mb-5">Bootstrap your real-time application in seconds</h3>
            <v-btn raised ripple large href="/signup" router class="indigo--text mt-5 mb-5 grey lighten-5">Get Started
            </v-btn>
        </div>

        <div id="primary" class="grey lighten-4 pt-5">
            <v-row>
                <v-col lg6>
                    <h4 class="purple--text text--darken-2">
                        <v-icon x-large>dialpad</v-icon>
                        Create
                    </h4>
                </v-col>
                <v-col lg6></v-col>
            </v-row>
        </div>
    </div>
</template>

<script>
    const meta = {
        title: 'WAAS',
        description: 'Description',
        keywords: 'keyword, keyword'
    };

    export default {
        preFetch (store) {
            return meta;
        },
        mounted () {
            this.$emit('metaChange', meta);
        },
        methods: {}
    }
</script>

<style>
    #main-button {
        color: inherit;
        text-decoration: inherit;
    }

    #primary h4 > i.icon--x-large {
        position: relative;
        top: 0.7rem;
    }
</style>