<template>
    <v-row class="pt-5 pb-5">
        <v-col xs0 md1 lg2 xl3></v-col>
        <v-col xs12 md10 lg8 xl6>
            <v-card class="z-depth-2">
                <v-card-text>
                    <h5>Sign In To WAAS</h5>
                    <v-text-field label="Email" prepend-icon="email"></v-text-field>
                    <v-text-field class="mb-0" label="Password" type="password" min="8"
                                  prepend-icon="lock"></v-text-field>
                    <v-row id="secondary-row">
                        <v-col xs12 sm6>
                            <v-checkbox class="ma-0" v-model="remember" primary label="Remember me"></v-checkbox>
                        </v-col>
                        <v-col xs12 sm6 class="mb-5 text-xs-left text-sm-right">
                            <router-link to="/reset">Forgot your password?</router-link>
                        </v-col>
                    </v-row>
                    <v-btn raised ripple large class="indigo">Sign In To WAAS</v-btn>
                    <div class="mt-3">
                        <router-link to="/signup">Don't have an account? Sign Up</router-link>
                    </div>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    const meta = {
        title: 'WAAS Sign In',
        description: 'Description',
        keywords: 'keyword, keyword'
    };

    export default {
        preFetch (store) {
            return meta;
        },
        mounted () {
            this.$emit('metaChange', meta);
        },
        data() {
            return {
                remember: false
            };
        },
        methods: {}
    }
</script>

<style>
    #secondary-row label {
        font-size: 14px;
        margin-left: 28px;
        top: -1px;
    }

    #secondary-row .col:first-child {
        margin-top: -5px;
    }

    @media(min-width: 340px) {
        .card {
            padding: 1rem;
        }
    }

    @media(min-width: 400px) {
        .card {
            padding: 2rem;
        }
    }

    @media(min-width: 480px) {
        .card {
            padding: 3rem;
        }
    }
</style>