<template>
    <v-row class="pt-5 pb-5">
        <v-col xs0 md1 lg2 xl3></v-col>
        <v-col xs12 md10 lg8 xl6>
            <v-card class="z-depth-2">
                <v-card-text>
                    <h5>Create Your WAAS Account</h5>
                    <v-text-field v-model="email" label="Email" prepend-icon="email"
                                  :rules="[testEmail]"></v-text-field>
                    <v-text-field v-model="password" label="Password" type="password" prepend-icon="lock"
                                  :rules="[testPassword]"></v-text-field>
                    <v-text-field v-model="confirmPassword" label="Confirm Password" type="password"
                                  prepend-icon="lock_outline" :rules="[testConfirmPassword]"></v-text-field>
                    <v-btn raised ripple large class="indigo">Create Your WAAS Account</v-btn>
                    <div class="mt-3">
                        <router-link to="/signin">Already have an account? Sign In</router-link>
                    </div>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    const meta = {
        title: 'WAAS Sign Up',
        description: 'Description',
        keywords: 'keyword, keyword'
    };

    export default {
        preFetch (store) {
            return meta;
        },
        mounted () {
            this.$emit('metaChange', meta);
        },
        data() {
            return {
                email: "",
                password: "",
                confirmPassword: ""
            };
        },
        methods: {
            testEmail(value) {
                if (!value) {
                    return true;
                }

                if (value.length > 128) {
                    return "Must be less than 128 characters long.";
                }

                return /.+@.+\..+/i.test(value) ? true : "Please enter a valid email."
            },
            testPassword(value) {
                if (!value) {
                    return true;
                }

                if (value.length < 8) {
                    return "Must be at least 8 characters long.";
                }

                if (value.length > 128) {
                    return "Must be less than 128 characters long.";
                }

                let s = "Must contain at least one ";

                if (!/[a-z]/.test(value)) {
                    s += "lowercase, "
                }

                if (!/[A-Z]/.test(value)) {
                    s += "uppercase, "
                }

                if (!/[0-9]/.test(value)) {
                    s += "numeric, "
                }

                if (!/[ !"#$%&'()*+,\-.\/:;<=>?@[\\\]^_`{|}~]/.test(value)) {
                    s += "special, "
                }

                if (s.endsWith(", ")) {
                    s = s.substr(0, s.length - 2) + " character.";

                    const lastComma = s.lastIndexOf(",");
                    if (lastComma !== -1) {
                        s = s.substr(0, lastComma) + ", and " + s.substr(lastComma + 2);
                    }

                    return s;
                }

                return /^[0-9a-zA-Z !"#$%&'()*+,\-.\/:;<=>?@[\\\]^_`{|}~]+$/.test(value) ? true : "Must not contain non-standard characters."
            },
            testConfirmPassword(value) {
                if (!value) {
                    return true;
                }

                return this.password === value ? true : "Passwords do not match.";
            }
        }
    }
</script>

<style>
    @media(min-width: 340px) {
        .card {
            padding: 1rem;
        }
    }

    @media(min-width: 400px) {
        .card {
            padding: 2rem;
        }
    }

    @media(min-width: 480px) {
        .card {
            padding: 3rem;
        }
    }
</style>