<template>
    <v-app top-toolbar id="toolbar-background">
        <header>
            <v-toolbar class="transparent z-depth-0">
                <v-toolbar-logo class="hidden-sm-and-down">
                    <router-link to="/">WAAS</router-link>
                </v-toolbar-logo>
                <v-spacer/>
                <v-toolbar-items>
                    <template v-if="!loggedIn">
                        <v-toolbar-item ripple router href="/signup">Get Started</v-toolbar-item>
                        <v-toolbar-item ripple router href="/signin">Sign In</v-toolbar-item>
                    </template>
                    <template v-else>
                        <v-toolbar-item ripple router href="/dashboard">Dashboard
                            <v-icon right>arrow_forward</v-icon>
                        </v-toolbar-item>
                    </template>
                </v-toolbar-items>
            </v-toolbar>
        </header>

        <main class="transparent">
            <v-content class="transparent">
                <v-container>
                    <router-view @metaChange="metaChange"></router-view>
                </v-container>
            </v-content>
        </main>
    </v-app>
</template>

<script>
    export default {
        data () {
            return {};
        },
        computed: {
            loggedIn(){
                return this.$store.state.user != null;
            }
        },
        methods: {
            metaChange(meta) {
                document.title = meta.title;
                document.head.querySelector('meta[name=description]').content = meta.description;
                document.head.querySelector('meta[name=keywords]').content = meta.keywords;
            }
        }
    }
</script>

<style>
    .toolbar__logo > a {
        color: inherit;
        text-decoration: inherit;
    }

    #toolbar-background {
        background: linear-gradient(271deg, #8f7cf9, #5c95b0);
        background-size: 400% 400%;

        animation: Gradient 15s ease infinite;
    }

    @keyframes Gradient {
        0% {
            background-position: 0 50%
        }
        50% {
            background-position: 100% 51%
        }
        100% {
            background-position: 0 50%
        }
    }
</style>