<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WAAS</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="description" content="<!-- DESCRIPTION -->">
    <meta name="keywords" content="<!-- KEYWORDS -->">
    <link rel="icon" type="image/png" href="public/favicon-32x32.png" sizes="32x32">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <% if (htmlWebpackPlugin.options.environment === 'production') { %>
    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
    <% } %>
    <% } %>
  </head>
  <body>
    <noscript id="deferred-styles"></noscript>
    <!-- APP -->
    <script>
      var loadDeferredStyles=function(){var e=document.getElementById("deferred-styles"),t=document.head.getElementsByTagName("meta");t[t.length-1].insertAdjacentHTML("afterend",e.textContent),e.parentElement.removeChild(e)},raf=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;raf?raf(function(){window.setTimeout(loadDeferredStyles,0)}):window.addEventListener("load",loadDeferredStyles);
    </script>
    <% if (htmlWebpackPlugin.options.environment === 'production') { %>
    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>" defer></script>
    <% } %>
    <% } %>
  </body>
</html>